<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<array>
		<dict>
			<key>methodName</key>
			<string>loadData</string>
			<key>eventId</key>
			<string>getData</string>
		</dict>
		<dict>
			<key>eventId</key>
			<string>viewDidLoad</string>
			<key>methodName</key>
			<string>viewDidLoad</string>
		</dict>
		<dict>
			<key>methodName</key>
			<string>nextVC</string>
			<key>eventId</key>
			<string>nextVC</string>
		</dict>
	</array>
	<key>HomeViewController</key>
	<array>
		<dict>
			<key>Params</key>
			<array>
				<string>string2</string>
				<string>string1</string>
			</array>
			<key>eventId</key>
			<string>viewDidLoad</string>
			<key>methodName</key>
			<string>viewDidLoad</string>
		</dict>
		<dict>
			<key>eventId</key>
			<string>homeViewMethod</string>
			<key>methodName</key>
			<string>homeViewMethod</string>
		</dict>
		<dict>
			<key>methodName</key>
			<string>nextVC</string>
			<key>eventId</key>
			<string>nextVC</string>
		</dict>
	</array>
	<key>MainViewController</key>
	<array>
		<dict>
			<key>methodName</key>
			<string>loadData:other:</string>
			<key>eventId</key>
			<string>getData</string>
			<key>Params</key>
			<array>
				<string>string</string>
				<string>string2</string>
			</array>
		</dict>
		<dict>
			<key>methodName</key>
			<string>btnClick1</string>
			<key>eventId</key>
			<string>btnClick1</string>
		</dict>
		<dict>
			<key>methodName</key>
			<string>btnClick2</string>
			<key>eventId</key>
			<string>btnClick2</string>
		</dict>
		<dict>
			<key>methodName</key>
			<string>viewDidLoad</string>
			<key>eventId</key>
			<string>viewDidLoadMain</string>
		</dict>
	</array>
</dict>
</plist>
